body {
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  padding-top: 100px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.a11y {
  position: absolute;
  top: -9999em;
}

a {
  text-decoration: none;
}

nav {
  background: #e27149;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  letter-spacing: 0.2em;
}

ul {
  text-decoration: none;
  padding-left: 0;
  margin-top: 0;
  color: #fff;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

li a::after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: 13px;
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scale(0);
  transition: all .2s;
}

li a:hover::after {
  transform: scale(1);
}

.footer {
  background: #333;
  width: 100%;
  height: 20vh;
  position: relative;
  bottom: 0;
  padding: 30px 0 50px;
  color: #fff;
  font-weight: lighter;
  text-align: center;
}

.footer i {
  margin-right: 15px;
}

.footer address {
  font-style: normal;
}

.not-found {
  height: 100vh;
  text-align: center;
}
