main {
  padding-top: 100px;
}

section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

section h1 {
  font-size: 23px;
  color: #333;
  cursor: pointer;
}

section h1:hover {
  text-decoration: underline;
}

.chef-name {
  color: #e27149;
}

p {
  color: #656565;
}

.price {
  color: #333;
  font-weight: bold;
  float: right;
}
