button {
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 5px;
  outline: 0;
  transition: all .2s;
}

button:disabled {
  cursor: default;
  background: #ececec;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(176, 176, 176, 0.5);
}
button:hover {
  box-shadow: 0 0 0 4px rgba(176, 176, 176, 0.5);
}
button:disabled:hover {
  box-shadow: 0 0 0 4px rgba(176, 176, 176, 0);
  background: #ececec;
}

.order {
  width: 200px;
  height: 250px;
  position: fixed;
  top: 55vh;
  right: 50px;
  z-index: 100;
  padding-left: 10px;
  padding-right: 10px;
  background: #fefefe;
  border: 1px solid rgba(176, 176, 176, 0.3);
  border-radius: 5px;
  color: #333;
  text-align: center;
}

.order h1 {
  font-size: 20px;
  margin-bottom: 35px;
  letter-spacing: 0.08em;
}

.order h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 30px;
}

.order-counter span {
  display: inline-block;
  width: 30px;
  color: #606060;
}

.order-counter button {
  color: #606060;
}

.order-total {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 35px;
  padding-top: 15px;
  padding-left: 10px;
  font-weight: bold;
  width: 100%;
  border-top: 1px solid rgba(176, 176, 176, 0.3);
  text-align: left;
  color: #333;
}

.order-price {
  margin-left: 10px;
  padding-right: 10px;
  font-weight: normal;
  float: right;
  color: #e27149;
  font-size: 15px;
}

.order-btn {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 222px;
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #e27149;
  font-size: 13px;
  color: #fff;
}

.order-btn:hover {
  background: #333;
  box-shadow: 0 0 0 4px rgba(176, 176, 176, 0);
}
